Latihan nomer 4

In [3]:
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()
tanggal = datetime.now().date()
tambah_transaksi=("INSERT INTO transaksi(id_nasabahFK,no_rekeningFK,jenis_transaksi,tanggal,jumlah) VALUES(%s,%s,%s,%s,%s)")
data_transaksi = ('9','110','kredit',tanggal,'50000')
cursor.execute(tambah_transaksi,data_transaksi)

cnx.commit()
cursor.close()
cnx.close()

latihan nomor 5

In [8]:
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()
query = ("SELECT id_nasabahFK,jenis_transaksi,tanggal,jumlah FROM transaksi WHERE YEAR(tanggal)=2020")
cursor.execute(query)
for (id_nasabahFK,jenis_transaksi,tanggal,jumlah)in cursor:
    print("nasabah dengan ID {} melakukan transaksi {} pada {:%d %b %Y} sejumlah {}"
          .format(id_nasabahFK,jenis_transaksi,tanggal,jumlah))     
cursor.close()
cnx.close()

nasabah dengan ID 6 melakukan transaksi debit pada 29 May 2020 sejumlah 758000
nasabah dengan ID 9 melakukan transaksi kredit pada 29 May 2020 sejumlah 50000

In [ ]:
tugas nomor 1 insert

In [1]:
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()
tanggal = datetime.now().date()
tambah_transaksi=("INSERT INTO transaksi(id_nasabahFK,no_rekeningFK,jenis_transaksi,tanggal,jumlah) VALUES(%s,%s,%s,%s,%s)")
data_transaksi = ('6','111','debit',tanggal,'758000')
cursor.execute(tambah_transaksi,data_transaksi)

cnx.commit()
cursor.close()
cnx.close()

tugas nomor 1 delete

In [9]:
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()

delete_transaksi=("DELETE FROM transaksi WHERE no_transaksi=35")
cursor.execute(delete_transaksi)

cnx.commit()

print("Data berhasil dihapus")

Data berhasil dihapus

tugas nomor 1 update

In [10]:
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()

delete_transaksi=("UPDATE transaksi SET jenis_transaksi=%s WHERE no_transaksi=%s")
value=("debit","34")
cursor.execute(delete_transaksi,value)

cnx.commit()

print("Data berhasil di ubah")

Data berhasil di ubah

tugas nomor 2

In [12]:
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()
cursor.execute("""SELECT * FROM nasabah""")
nasabah = cursor.fetchall()
for x in nasabah:
  print(x)

cursor.close()
cnx.close()

(1, 'Sutopo', 'Jl. Jendral Sudirman 12')
(2, 'Maryati', 'Jl. MT Haryono 31')
(3, 'Suparman', 'Jl. Hasanudin 81')
(4, 'Kartika Padmasari', 'Jl. Manggis 15')
(5, 'Budi Eko Prayogo', 'Jl. Kantil 30')
(6, 'Satria Eka Jaya', 'Jl. Slamet Riyadi 45')
(7, 'Trianandya', 'Jl. Sutoyo 5')
(8, 'Sari Murti', 'Jl. Pangandaran 11')
(9, 'Canka Lokananta', 'Jl. Tidar 86')
(10, 'Budi Martono', 'Jl. Merak 22')
(11, 'Danindya', 'Jl. Aki Balak 22')
(12, 'Puput', 'Jl. AMD 10')
(13, 'Muliana', 'Jl. Jend. Sudirman 97')
(14, 'Putri', 'Jl. Diponegoro 19')
(15, 'Bening', 'Jl. Agatis 10')
(16, 'Khatulistyawara', 'Jl. Ir. Soekarno 12')
(17, 'Pandan Wangi', 'Jl. Imam Bonjol 20')
(18, 'Andara', 'Jl. Pertama 26')
(19, 'Rangga', 'Jl. Kedua 80')
(20, 'Cinta', 'Jl. Ketiga 24')
(100, 'resky', 'solo')

tugas nonor 3

In [11]:
import mysql.connector

cnx = mysql.connector.connect(user='root', database='perbankan')
cursor = cnx.cursor()
cursor.execute("""SELECT * FROM nasabah
               WHERE nasabah.id_nasabah IN(select transaksi.id_nasabahFK
                FROM transaksi where tanggal between '2009-11-10' AND '2009-12-06')""")
nasabah = cursor.fetchall()
for x in nasabah:
  print(x)

cursor.close()
cnx.close()

(1, 'Sutopo', 'Jl. Jendral Sudirman 12')
(2, 'Maryati', 'Jl. MT Haryono 31')
(3, 'Suparman', 'Jl. Hasanudin 81')
(4, 'Kartika Padmasari', 'Jl. Manggis 15')
(5, 'Budi Eko Prayogo', 'Jl. Kantil 30')
(7, 'Trianandya', 'Jl. Sutoyo 5')
(9, 'Canka Lokananta', 'Jl. Tidar 86')
(10, 'Budi Martono', 'Jl. Merak 22')